!/.env
venv
.idea
__pycache__/
.env
bot_2.1.9.py
router-backup-live/
test_proxy.py
tmp_S24xray
bot_config.py
.vscode/
router_combined.txt
router_data.txt
router_output.html
web_state.html
web_state_utf8.html